/* Imports du thème commun */
@import 'custom-theme.css';

/* ======= STYLES SPÉCIFIQUES À LA PAGE CONTACT ======= */

/* ======= BANNIÈRE HAUTE AVEC IMAGE ======= */
.contact-hero {
  background: url('../assets/img/visuel/visuel_2.jpg') no-repeat center center;
  background-size: cover;
  height: 40vh;
  width: 100%;
  position: relative;
}

/* ======= GOOGLE MAPS ======= */
.map-iframe {
  height: 50vh;
  filter: grayscale(100%) invert(92%) contrast(83%);
}
#contact-info p{
  padding-left: 15px;
  font-weight: 400;
}

/* Ajouter à la fin du fichier */

/* ======= RESPONSIVE TABLETTE ======= */
@media (min-width: 768px) and (max-width: 991px) {
  /* Bannière */
  .contact-hero {
    height: 35vh;
  }

  /* Map */
  .map-iframe {
    height: 40vh;
  }

  /* Formulaire */
  .container-fluid.bg-white.shadow.py-5.px-4 .row {
    width: 95% !important;
  }

  /* Contact info */
  #contact-info p {
    font-size: 0.9rem;
    padding-left: 10px;
  }
}